h1 a, h2 a {
    color: #ee7926;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:larger;
    font-weight: 900;
}

h3 a {
    color:#fdb824;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size-adjust: initial;
}

table {
    table-layout: fixed;
    width: initial;
    color: rgb(9, 15, 2);
    border-width: medium;
    border-color: black;
    border:"1"
}